<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened>
    <p>Channels</p>

    <ul>
      <li *ngFor="let channel of channels; let i=index">
        {{channel.name}}
      </li>
    </ul>



    <div class="button-group">
      <button mat-flat-button color="primary" (click)="create()">Create a channel</button>
      <br>
      <button mat-flat-button color="accent" (click)="join()">Join a channel</button>
    </div>
  </mat-sidenav>
  <mat-sidenav position="end">Join a channel</mat-sidenav>
  <mat-sidenav-content>
    <section>
      <app-message [messages]="_messages" ></app-message>
    </section>
  </mat-sidenav-content>
</mat-sidenav-container>

