.example-container {
  position: relative;
  height: 100vh;
}

.example-container > mat-sidenav {
  border-top: #303030 dashed 1px;
  background: #212121;
  text-align: center;
  padding-right: 20px;
  padding-left: 20px;

  max-width: 200px;
}

.button-group button {
  margin-bottom: 20px;
  width: 100%;
}
.button-group input {
}

.button-group {
  width: 100%;
}

