<mat-dialog-content>
  <form novalidate [formGroup]="form">
          <h1>Create your channel</h1>
          <mat-form-field>
            <input matInput placeholder="ID (optionnal)" formControlName="idChannel" minlength="5" maxlength="5" name="idChannel" />
            <mat-error *ngIf="form.get('idChannel').dirty && form.get('idChannel').hasError('minlength')">
              ID must be <strong>5 chars</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Channel name" formControlName="channelName" minlength="2" required name="channelName" />
            <mat-error *ngIf="form.get('channelName').dirty && form.get('channelName').hasError('required')">
              Channel name is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="form.get('channelName').dirty && form.get('channelName').hasError('minlength')">
              Channel name is <strong>2 chars mini</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Channel description" formControlName="channelDescription"  name="channelDescription" />
          </mat-form-field>
  </form>
</mat-dialog-content>


<mat-dialog-actions align="end">
  <button mat-button type="button" (click)="onCancel()">Cancel</button>
  <button mat-button color="primary" type="submit" (click)="onSave(form)">Save</button>
</mat-dialog-actions>
