<section *ngFor="let message of _messages"  class="message-group">
<mat-card class="mat-whiteframe-2dp">
  <mat-card-title-group>
    <mat-card-subtitle>
      <p style="margin : 0px">
        <img mat-card-md-image src="{{message.picture}}"> Envoyé par <strong>{{message.login }}</strong>, le {{message.date | date:'dd/MM/yyyy'}}:
      </p>
    </mat-card-subtitle>
    <mat-card-subtitle class="message-content">
      {{message.content}}
    </mat-card-subtitle>
  </mat-card-title-group>
</mat-card>
</section>
<mat-card class="mat-end">
  <mat-form-field>
    <mat-label>Type your text here...</mat-label>
    <textarea matInput
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMaxRows="1" [(ngModel)]="text" ></textarea>
    <!--[(ngModel)]="idChannel"  -->
  </mat-form-field>
  <button mat-flat-button color="accent" (click)="send(text)" class="send-button">Send</button>
</mat-card>

<!--(click)="join(idChannel)"-->

